* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  background-color: #b2b2b2;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.container {
  width: 83.229%;
  margin: 0 auto;
}

.slick-track{
	display: flex;
  justify-content: center;
}

.title{
  font-size: calc(1.5625rem + 1.302083vw); /*50px, 50 50*/
  font-weight: 400;
  letter-spacing: 0.02em;
  text-align: center;
}

.subtitle{
  font-size: calc(.3125vw + 0.875rem);
  font-weight: 400;
  letter-spacing: 0.02rem;
  margin: 1.5625vw 0 3.22916vw;
  color: #616161;
  text-align: center;
}

header {
  color: #ffffff;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  background-color: #b2b2b2;
}

.header {
  display: flex;
  justify-content: space-between;
  position: relative;
  height: 100px;
  width: 66.666%;
  flex-wrap: wrap;
}

.header::after{
  content:'';
  position: absolute;
  background: #8795a9;
  width: 100%;
  height: 1px;
  bottom: 0;
  left:0;
}

nav {
  display: flex;
  -ms-align-items: center;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 2rem;
  -ms-align-items: center;
  align-items: center;
  flex-wrap: wrap;
}

.header__telephone{
  display: flex;
  -ms-align-items: center;
  align-items: center;
  gap: 0.6875rem;
}

.header-decor{
  width: 100%;
  height: 10px;
  background-color: #8795a9;
  position: absolute;
  top: 100%;
}

main{
  display: flex;
  gap: calc(5.46875vw + 2.8125rem); /*150px, 70 30*/
  flex-direction: column;
  justify-content: flex-start;
  background-color: #ffffff;
}

.title-section-wrapper{
  position: relative;
  height: calc(100vh - 100px);
  background-color: #b2b2b2;
}

.title-section-wrapper::before{
  content: "";
  width: 50px;
  height: 10px;
  top: 50%;
  left: 50%;
  background-color: white;
}

.title-section{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.title-section__title-block{
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1.875rem;
  position: relative;
  top: 26.58823%;
}

.title-section__title{
  font-size: calc(4rem + 0.41666vw);
  font-weight: 700;
  letter-spacing: 0.02em;
  text-align: center;
}

.title-section_subtitle{
  margin: 0;
  color: #ffffff;
}

.title-section__plan-button{
  width: calc(14.0625rem);
  height: calc(3rem);
  background-color: #fbad27;
  border-radius: calc(1.5rem);
  text-align: center;
  line-height: calc(3rem);;
  font-weight: 700;
  font-size: calc(1rem);
}

.title-section__intro-block{
  background-color: inherit;
  border: none;
  color: #ffffff;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  align-self: flex-start;
  margin-bottom: 3%;
}

.title-section__intro-block > svg{
  font-size: 3.4375rem;
}

.title-section__intro-text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.title-section__intro-text-watch {
  font-size: 0.875rem;
  font-weight: 400;
  letter-spacing: 0.02em;
}

.title-section__intro-text-video{
  font-size: 1.125rem;
  font-weight: 700;
  text-transform: uppercase;
}

.primary-section{
  display: flex;
  gap: calc(5.46875vw + 2.8125rem); /*150px, 70 30*/
  flex-direction: column;
  justify-content: flex-start;
  color: #4a4a4a;
  overflow: hidden;
}

.basic-article{
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 0;
  margin-bottom: 4.427083vw;
}

.primary-section__desc-advantages{
  min-width: 0;
  margin-bottom: 0;
  overflow: hidden;
}

.primary-section__welcome-block{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: calc(.46875vw + 1.3125rem); /*30px, 30 70*/
}

.primary-section__desc-text{
  font-size: calc(0.25vw + 0.7rem);;
  text-align: center;
  width: 58.32290%;
  font-weight: 400;
  letter-spacing: 0.02rem;
}

.primary-section__advantages{
  min-width: 0;
  overflow: hidden;
  margin-top: calc(2.171875vw + 6.08125rem);
}

.primary-section__advantages .slick-list{
  display: flex;
  justify-content: center;
  width: 100%;
}

.primary-section__advantages .slick-current{
  box-shadow: 0 0.625vw 3.71916vw 0 #ccc;
}

.primary-section__advantage{
  min-width: calc(9.65625vw + 7.725rem); /*309px*/
  max-width: calc(9.65625vw + 7.725rem);
  min-height: calc(9.65625vw + 7.725rem);
  padding: 2.76041vw 0 0 2.96875vw;
  display: flex;
  flex-direction: column;
  gap: 1.625vw;
  user-select: none;
  font-weight: 400;
  letter-spacing: .02rem;
}

.primary-section__advantage > img{
  height: calc(.625vw + 1.75rem);     /* 40px, 30 70 */
  width: calc(.65625vw + 1.8375rem);  /* 42px, 30 70  */
}

.primary-section__advantage > img.primary-section__heart-icon{
  height: calc(.5vw + 1.4rem);        /* 32px, 30 70 */
  margin-top: calc(0.25vw + 0.2rem);
}

.primary-section__advantage-title{
  font-size: calc(0.28125vw + 0.7875rem); /*18px, 30 70*/
  font-weight: 500;
}

.primary-section__advantage-desc{
  font-size: calc(0.25vw + 0.7rem); /*16px, 30 70*/
  color: #757575;
  margin-right: 1.5vw;
  line-height: calc(.390625vw + 1.09375rem);; /*25px, 30 70*/
}

.primary-section__advantages ul.slick-dots{
  display: flex;
	align-items: center;
  justify-content: center;
  gap: 0.8125rem;
  margin-top: 6.25vw;
}

.primary-section__advantages ul.slick-dots li{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid #999999;
  width: calc(0.25vw + 0.7rem); /*16px, 30 70*/
  height: calc(0.25vw + 0.7rem); /*16px, 30 70*/
}

.primary-section__advantages ul.slick-dots li button{
  background-color: #999999;
  border-radius: 50%;
  font-size: 0;
  width: calc(.125vw + .35rem); /*8px, 30 70*/
  height: calc(.125vw + .35rem); /*8px, 30 70*/
  border: 0;
  outline: none;
}

.primary-section__advantages ul.slick-dots li.slick-active{
  border: 1px solid #FBAD27;
  border-radius: 50%;
  width: calc(.375vw + 1.05rem);  /*24px, 30 70*/
  height: calc(.375vw + 1.05rem);  /*24px, 30 70*/
  outline: 0;
}

.primary-section__advantages ul.slick-dots li.slick-active button{
  background-color: #FBAD27;
  border-radius: 50%;
  border: 0;
  width: calc(0.25vw + 0.7rem); /*16px, 30 70*/
  height: calc(0.25vw + 0.7rem); /*16px, 30 70*/
}

.primary-section__places-slider-wrapper{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.primary-section__places-search{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 4.375vw;
  position: relative;
  width: 100%;
}

.primary-section__places-search > svg{
  font-size: calc(1rem + 0.72916666vw);
  position: absolute;
  left: calc(47.96238% - 1rem - 0.72916666vw);
}

.primary-section__places-search-input{
  height: calc(1rem + 0.72916666vw);
  border: 0;
  font-size: calc(1rem + 0.41666vw);
  color: inherit;
  outline: none;
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}

.primary-section__places-search > div:nth-of-type(1){
  width: 47.96238%;
  display: flex;
  justify-content: flex-end;
}

.primary-section__places-search > div:nth-of-type(2){
  display: flex;
  justify-content: flex-start;
  width: 52.03762%;
  max-width: 52.03762%;
}

.primary-section__places-slider{
  display: flex;
  flex-direction: column;
  width: 68.52083vw;
  min-width: 0;
  overflow: hidden;
}

.primary-section__places-slider .slick-slide {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 2.29166vw;
}

.primary-section__places-slide{
  min-width: 20.57291vw;
  max-width: 20.57291vw;
  min-height: 20.83333vw;
  background-color: #b2b2b2;
  text-align: center;
  padding-top: 3.22916vw;
  font-size: calc(0.6rem + .75vw); /*24px*/
  font-weight: 700;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.primary-section__places-prev-arrow,
.primary-section__places-next-arrow{
  font-size: calc(1.5rem + 0.834vw);
  color: #fbad27;
}

.primary-section__places-slider-wrapper > .slick-disabled{
  color: #b8b8b8;
  cursor: auto;
}

.primary-section__blog-post-wrapper{
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 3.90625vw;
}

.primary-section__secondary-columns-wrapper{
  display: flex;
  justify-content: center;
  gap: 3.90625vw;
}

.primary-section__main-column{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 3.90625vw;
  width: calc(17.3125vw + 13.85rem);
}

.primary-section__blog-post-title{
  display: block;
  margin: 0 0 1.5625vw 0;
  font-weight: 400;
  font-size: calc(0.3125vw + 0.875rem); /*20px, 30 70*/
  text-align: left;
}

.primary-section__blog-post-desc{
  display: block;
  line-height: calc(.390625vw + 1.09375rem); /*25px, 30 70*/
  letter-spacing: 0.01rem;
  color: #757575;
  font-size: calc(0.25vw + 0.7rem); /*16px, 30 70*/
}

.primary-section__blog-post{
  display: flex;
  flex-direction: column;
}

.primary-section__main-column .primary-section__blog-post{
  flex-direction: row;
  min-height: 10.78125vw;
}

.primary-section__blog-post img,
.primary-section__blog-post-wrapper img{
  min-height: 10.78125vw;
  object-fit: cover;
  width: 100%;
  display: block;
}

.primary-section__main-column > img{
  height: 23.64583vw;
  display: block;
}

.primary-section__main-column .primary-section__blog-post img{
  width: 50%;
  height: 100%;
}

.primary-section__main-column .primary-section__blog-post-text-block{
  width: 50%;
}

.primary-section__main-column .primary-section__blog-post-text-block{
  padding: 1.14583vw 1vw 0 1.71875vw;
  box-shadow: 0 0.625vw 3.71916vw 0 #ccc;
}

.primary-section__secondary-column{
  width: calc(4.46875vw + 12.5125rem); /*286px, 30 70*/
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 3.90625vw;
}

.primary-section__secondary-column .primary-section__blog-post-text-block{
  padding: 1.5625vw 2.08333vw 2.083vw;
  box-shadow: 0 0.625vw 3.71916vw 0 #ccc;
  min-height: 12.8125vw;
}

.primary-section__blog-add-posts{
  text-align: center;
  width: calc(7.03125rem + 5.85937vw);
  height: calc(2rem + 0.8333vw);
  background-color: #fbad27;
  border-radius: 1.5rem;
  border: 0;
  font-size: calc(.5rem + 0.41666vw);
  line-height: calc(2rem + 0.8333vw);
  font-weight: 700;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-top: 6.35416vw;
  cursor: pointer;
}

.review-article-subtitle{
  margin-bottom: 6.7708vw;
}

.review-article > .slider-wrapper{
  max-width: 100vw;
  width: 100%;
  overflow: hidden;
}

.review-article__review-slider{
  display: flex;
  justify-content: center;
  width: 60vw;
}

.review-article__review-slide{
  display: flex;
  justify-content: center;
  gap: 2.13541vw;
  cursor: pointer;
  user-select: none;
}

.review-article__profile-icon{
  width: calc(5.59375vw + 4.475rem);
  object-fit: cover;
  height: calc(5.84375vw + 4.675rem);
  border-radius: 0.416vw;
}

.review-article__text-block{
  width: calc(16.0625vw + 12.85rem);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.review-article__review{
  font-size: calc(0.5vw + 0.4rem);
}

.review-article__reviewer-info{
  display: flex;
  flex-direction: column;
  gap: .4vw;
}

.review-article__reviewer-name{
  font-weight: 700;
  color: #fbad27;
  font-size: calc(0.5vw + 0.4rem)
}

.review-article__reviewer-location{
  font-size: calc(.4375vw + .35rem);
}

.review-article__reviews-slider ul.slick-dots{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8125rem;
  margin-top: 10vw;
}

.review-article__reviews-slider ul.slick-dots li{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid #999999;
  width: calc(0.25vw + 0.7rem); /*16px, 30 70*/
  height: calc(0.25vw + 0.7rem); /*16px, 30 70*/
}

.review-article__reviews-slider ul.slick-dots li button{
  background-color: #999999;
  border-radius: 50%;
  font-size: 0;
  width: calc(.125vw + .35rem); /*8px, 30 70*/
  height: calc(.125vw + .35rem); /*8px, 30 70*/
  border: 0;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.review-article__reviews-slider ul.slick-dots li.slick-active{
  border: 1px solid #FBAD27;
  border-radius: 50%;
  width: calc(.375vw + 1.05rem);  /*24px, 30 70*/
  height: calc(.375vw + 1.05rem);  /*24px, 30 70*/
  outline: 0;
}

.review-article__reviews-slider ul.slick-dots li.slick-active button{
  background-color: #FBAD27;
  border-radius: 50%;
  border: 0;
  width: calc(0.25vw + 0.7rem); /*16px, 30 70*/
  height: calc(0.25vw + 0.7rem); /*16px, 30 70*/
}

.booking{
  width: 100%;
  height: calc(7.8125vw + 6.25rem);
  background-color: #fbad27;
  display: flex;
  justify-content: center;
}

.booking__text-block{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 66.4583%;
}

.booking__text{
  font-size: calc(1.25vw + 1rem);
  color: #fff;
}

.booking__button{
  font-size: calc(0.5vw + 0.4rem);
  width: calc(7.03125vw + 5.625rem);
  line-height: calc(1.5vw + 1.2rem);
  text-align: center;
  background-color: #fbad27;
  font-weight: 700;
  letter-spacing: 0.02em;
  color: #ffffff;
  height: calc(1.5vw + 1.2rem);
  border: 0.104vw solid #ffffff;
  border-radius: calc(0.75vw + 0.6rem);
  transition: .2s ease;
  cursor: pointer;
  margin-left: 7vw;
}

.booking__button:hover{
  background-color: #DC821E;
}

footer{
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
}

.footer-main{
  width: 66.4583%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: calc(13.02083vw);
  margin-bottom: calc(1.78125vw + 1.425rem);
}

.footer-main__block{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
}

.footer-main__title{
  font-size: calc(0.625vw + 0.5rem); /* 20px */
  margin-bottom: calc(.9375vw + .75rem); /* 30px */
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #4a4a4a;
}

.footer-main__inner-element{
  font-size: calc(0.5vw + 0.4rem);  /* 16px */
  line-height: calc(.78125vw + .625rem); /* 25px */
  font-weight: 400;
  letter-spacing: 0.02em;
  color: #616161;
}

.footer-main__icons-wrapper{
  display: flex;
  flex-direction: row;
  gap: .520833vw;
}

.footer-main__icon-wrapper,
.footer-main__icon-wrapper > a{
  width: calc(1vw + 0.8rem); /* 32px */
  height: calc(1vw + 0.8rem);
  background-color: #616161;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: .2s ease;
}

.footer-main__icon-wrapper:hover,
.footer-main__icon-wrapper  a:hover{
  background-color: #fbad27;
}

.footer-main__icon-wrapper svg{
  color: #fff;
  font-size: calc(.375vw * 1.5 + .3rem * 1.5);  /* 12px * 1.4 */
}

.footer__copyright-block{
  height: calc(4.84375vw + 3.875rem); /* 155px */
  font-size: calc(.46875vw + .375rem);    /* 15px */
  color: #616161;
  width: 66.4583%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__copyright-block::before{
  content:'';
  position: absolute;
  background: #e4e4e4;
  width: 100%;
  height: 1px;
  top: 0;
  left:0;
}

@media (max-width: 1250px) {
  .primary-section__secondary-column:last-of-type{
    display: none;
  }

  .primary-section__secondary-column{
    width: calc(8.90625vw * 1.1 + 7.1875rem * 1.1);
  }

  .primary-section__main-column{
    width: calc(17.3125vw * 1.1 + 13.85rem * 1.1);
  }
  .primary-section__advantages{
    margin-top: calc(2.171875vw + 6.08125rem - 50px);
  }
}

@media (max-width: 1170px) {
  .header{
    width: 83.229%;
  }
  .primary-section__desc-text{
    width: 80%;
  }
  .primary-section__advantage{
    min-width: calc(9.65625vw + 7.725rem + 60px); /*309px + 60px, 60 40 x*/
    max-width: calc(9.65625vw + 7.725rem + 60px); /*309px + 60px, 60 40 x*/
    min-height: calc(9.65625vw + 7.725rem + 60px); /*309px + 60px, 60 40 x*/
  }
}

@media (max-width: 910px) {
  .header{
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  nav ul{
    justify-content: center;
  }
  .primary-section__desc-text{
    width: 80%;
  }
  .primary-section__advantages{
    margin-top: calc(2.171875vw + 6.08125rem - 70px);
  }
  .booking__text-block{
    width: 83.229%;
  }
}

@media (max-width: 626px){
  .header{
    height: 150px;
  }
  .title-section-wrapper{
    height: calc(100vh - 150px);
  }
  .primary-section__desc-text{
    width: 99%;
  }
  .primary-section__advantage{
    min-width: calc(9.65625vw + 7.725rem + 100px); /*309px + 100px, 60 40 x*/
    max-width: calc(9.65625vw + 7.725rem + 100px); /*309px + 100px, 60 40 x*/
    min-height: calc(9.65625vw + 7.725rem + 5px); /*309px + 5px, 60 40 x*/
  }
  .primary-section__desc-advantages {
    overflow: visible;
  }
  .review-article__text-block{
    width: auto;
  }
  .footer-main {
    width: 83.229%;
  }
}

@media (max-width: 580px){
  .primary-section__secondary-column > img,
  .primary-section__main-column > div{
    display: none;
  }
  .booking__text-block{
    width: 95%;
  }
  .title-section__title {
    font-size: calc(4rem + 0.41666vw - 20px);
  }
  .title-section__plan-button {
    width: calc(14.0625rem * 0.8);
    height: calc(3rem * 0.8);
    background-color: #fbad27;
    border-radius: calc(1.5rem * 0.8);
    text-align: center;
    line-height: calc(3rem * 0.8);
    font-weight: 700;
    font-size: calc(1rem * 0.8);
  }
  .primary-section__places-slide{
    min-width: calc(20.57291vw * 1.5);
    min-height: calc(20.57291vw * 1.5);
  }
  .review-article__review{
    font-size: calc(0.5vw + 0.4rem * 1.3);
  }
  .review-article__profile-icon {
    width: calc(5.59375vw + 4.475rem * 1.5);
    height: calc(5.84375vw + 4.675rem * 1.5);
  }
  .review-article__reviewer-name {
    font-size: calc(0.5vw + 0.4rem * 1.35);
  }
  .review-article__reviewer-location {
    font-size: calc(.4375vw + .35rem * 1.35);
  }
}

@media (max-width: 440px){
  .primary-section__main-column{
    display: none;
  }
  .primary-section__secondary-column{
    width: calc(4.46875vw + 12.5125rem + 50px)
  }
  .container{
    width: 95%;
  }
  .footer-main {
    width: 98%;
  }
}
